#root {
  max-width: 1280px;
  padding-bottom: 10px;
  margin: 0 auto;
  text-align: center;
}

.header {
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 100%;
}

.logo {
  width: 58px; height: 40px;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.Tabs {
  display: inline-block;
  width: 297px; height: 32px;
  font-size: 0.875rem;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 40px;
  padding-top: 4px;
  margin-bottom: 15px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.loupe-icon {
  display: inline-block;
  width: 15px; height: 13px;
  margin-right: 3px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='64' height='64' viewBox='0 0 64 64'%3E%3Cpath fill='%23000' d='M8.783 41.535c8.403 8.401 21.644 8.987 30.734 1.78l1.894 1.892l-1.573 1.572l12.844 12.843c-.478.756-.685 1.338-.446 1.575l.703.702c1.143 1.145 10.104-7.819 8.961-8.962l-.703-.701c-.237-.238-.818-.033-1.572.445L46.779 39.838l-1.572 1.572l-1.893-1.893c7.206-9.091 6.621-22.333-1.779-30.735c-9.044-9.043-23.708-9.043-32.752 0c-9.045 9.046-9.043 23.709 0 32.753m2.729-30.022c7.536-7.537 19.759-7.537 27.293 0c7.537 7.535 7.537 19.758 0 27.293c-7.536 7.538-19.755 7.536-27.293 0c-7.534-7.537-7.536-19.756 0-27.293'/%3E%3Cpath fill='%23000' d='M8.683 23.902a16.6 16.6 0 0 0 3.789 5.879c6.513 6.514 17.076 6.514 23.592-.003a16.6 16.6 0 0 0 4.813-10.243c2.256 5.949 1 12.926-3.79 17.716c-6.515 6.515-17.078 6.515-23.593 0C9.84 33.6 8.239 28.674 8.683 23.902'/%3E%3C/svg%3E");
}
