@font-face {
  font-family: 'PlakatGrotesk';
  src: url(./fonts/PlakatGrotesk.otf) format('opentype');
}

@font-face {
  font-family: 'OptimoPlainRegular';
  src: url(./fonts/PlainPlain-RegularPlain-Regular.otf) format('opentype');  
}

@font-face {
  font-family: 'OptimoPlainMedium';
  src: url(./fonts/PlainPlain-MediumPlain-Medium.otf) format('opentype'); 
}

:root {
  font-family: 'OptimoPlainRegular', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: rgb(255, 255, 255);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: url("/sf.png");
  background-repeat: no-repeat;
  background-position: bottom center;
}

@media only screen
  and (max-width: 500px) {
    body {
      background-image: url("/sf_a4.png");
      background-color: rgb(255, 255, 255);
      
    }
}

@media only screen
  and (min-width: 501px) {
    body {
      background-image: url("/sf_landscape.png");
      background-color: rgb(255, 255, 255);
    }
}

.header {
  top: 0px;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 25px;
  border: 1px solid black;
  width: 206px; height: 45px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 600;
  font-family: inherit;
  color:rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 1);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #b6b6b6;
  border-width: 1px;
}
button:active {
  border-color: #FFF3A7;
  border-width: 1px;
}

#drawButton {
  width: 70px; height: 30px;
  font-size: 0.85em;
  font-weight: 400;
  line-height: 0;
  padding: 1em;
  margin-right: 15px;
}

.uploadButton {
  margin-top: 10px;
}

/*
.frame{
  width:297px; height:392px;
  display:inline-block;
  border:1px solid rgb(0, 0, 0);
  border-radius: 60px;
  background-color: rgba(255, 255, 255, 1);
  position:relative;
}
*/

.innerFrame{
  width:236px; height:330px;
  display:inline-block;
  border:1px dotted rgb(0, 0, 0);
  border-radius: 25px;
  margin-top: 38px;
  margin-bottom: 15px;
  position:relative;
}

.innerFrame > img{
  max-width:100%; max-height:100%;
  width:auto; height:auto;
  position:absolute;
  top:0; bottom:0;
  left:0; right:0;
  margin:auto;
}

input[type="file"] {
  display: none;
}

.drawFrame{
  width:297px; height:590px;
  display:inline-block;
  border:1px solid rgb(0, 0, 0);
  border-radius: 60px;
  background-color: rgba(255, 255, 255, 1);
  position:relative;
}

.drawArea {
  display: inline-block;
  margin-top: 38px;
  border: 1px dotted rgba(0, 0, 0);
  border-radius: 25px;
  padding: 7px;
}

.custom-file-upload {
  width:240px; height:350px;
  display: inline-block;
  cursor: pointer;
  color: rgba(105, 101, 101, 1);
}

.consent {
  display: inline-block;
  margin-top: 0px;
  width: 222px; height: 30px;
  font-size: 11px;
  color: rgb(105, 101, 101);
  position:relative;
}

#cloud {
  margin-top: 76px;
}

.rounded-alert {
  border-radius: 25px;
}

.attention-icon {
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='attention-circle'%3E%3Cpath id='union-1' fill-rule='evenodd' clip-rule='evenodd' d='M7.5 2.5C4.73858 2.5 2.5 4.73858 2.5 7.5C2.5 10.2614 4.73858 12.5 7.5 12.5C10.2614 12.5 12.5 10.2614 12.5 7.5C12.5 4.73858 10.2614 2.5 7.5 2.5ZM1.25 7.5C1.25 4.04822 4.04822 1.25 7.5 1.25C10.9518 1.25 13.75 4.04822 13.75 7.5C13.75 10.9518 10.9518 13.75 7.5 13.75C4.04822 13.75 1.25 10.9518 1.25 7.5ZM7.5 4.375C7.84518 4.375 8.125 4.65482 8.125 5V7.5C8.125 7.84518 7.84518 8.125 7.5 8.125C7.15482 8.125 6.875 7.84518 6.875 7.5V5C6.875 4.65482 7.15482 4.375 7.5 4.375Z' fill='%23E46962'/%3E%3Cpath id='union-2' d='M8.125 10C8.125 10.3452 7.84518 10.625 7.5 10.625C7.15482 10.625 6.875 10.3452 6.875 10C6.875 9.65482 7.15482 9.375 7.5 9.375C7.84518 9.375 8.125 9.65482 8.125 10Z' fill='%23E46962'/%3E%3C/g%3E%3C/svg%3E%0A");
  height: 15px;
  width: 15px;
  background-repeat: no-repeat;
  float: left;
  margin-right: 0px;
}
